/* body [class*="col-"] {
  height: 200px;
  background-color: pink;
  border: 1px solid red;
} */
body {
  font-family: 'Montserrat', sans-serif;
}

/* utility */

.bc_darkblue {
  background-color: #2c3e50;
}
.bc_dark {
  background-color: #343a40;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.container-sm {
  max-width: 980px;
  margin: auto;
}
.btn {
  border-radius: 10px;
  padding: 25px;
  border: 1px solid white;
  margin-bottom: 80px;
}
/* /utility */

/* header */
h1 {
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
/* navbar */
.navbar {
  border: none;
}
.navbar-header a, .nav a {
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}
/* /navbar */

/* start */
h2 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 60px;
  text-transform: uppercase;
}
#Start p{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#Start, #About, .btn {
  background-color: #1abc9c;
  color: white;
}
#Start img {
  margin-top: 150px;
  width: 250px;
}
/* /start */
/* /header */
/* main */
#site_main {

}
/* Portfolio */
/* #Portfolio, #About, #Contact_Me {
  height: 700px;
} */
#Portfolio img {
  width: 350px;
  border-radius: 5px;
}
#Portfolio img:hover {
  cursor: pointer;
}
/* /Portfolio */
/* About */
/* /About */
/* Conctact me */
#Conctact_me .btn {
  text-align: none;
}
/* /Conctact me */
/* /main */

/* footer */
#site_footer {
  color: white;
}
h3 {
  text-transform: uppercase;
}
#site_footer i {
  font-size: 20px;
  border-radius: 100%;
  padding: 15px;
  border: 2px solid white;
  margin-bottom: 80px;
}
a:focus, a:hover {
    color: #1abc9c;
}

/* /footer */
